[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
matplotlib = "*"
numpy = "*"
prettytable = "*"
seaborn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
